/* 背景アニメーション */
html,
body {
    height: 100%;
    /*高さを100%にして描画エリアをとる*/
}

#particles-js {
    position: fixed;
    /*描画固定*/
    z-index: -1;
    /*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color: #000;
    /*背景色*/
}

/* 背景アニメーションここまで */

body {
    margin: 0;
    padding: 0;
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
    /* text-align: center; */
}

/* ナビゲーション */
.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.navhead{
margin:20px  ;
}
.navhead h1 {
    color: white;
    margin: 5px 2px;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
}

.nv {
    display: none;
    height: auto;
    margin: 0 ;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 5%;
}

.nav-list li {
    font-weight: bold;
    font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
    width: 100px;
    margin: 0 0 0 20px;
    font-size: 20px;
    justify-content: flex-start;
}

.nav-icon{
    margin-top:30px;
    margin-right: 50px;
}

.fa-solid {
    margin:0 10px ;
    /* filter: brightness(0) invert(1); */
}
.nav-icon i{
height: 25px;
width: 25px;
}

/* PC時には非表示 */
.hamburger-button {
    display: none;
    /* display: flex; */
    /* media query時にはflexでもどして */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1002;
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    outline: none;
}

.hamburger-button svg {
    height: 25px;
    /* autoではなく同じ数字で */
    width: 25px;
    /* autoではなく同じ数字で */
}

.hamburger-button path {
    fill: #000;
}

.hamburger-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1001;
    padding: 20px;
    display: none;
}

#hamburger-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
}

/* kv */
.kv-text1 h1 {
    margin-left: 50%;
    margin-top: -30%;
    writing-mode: vertical-rl;
    color: white;
    font-size: 35px;
    z-index: 10;
}

.kv-text2 h2 {
    color: white;
    font-size: 23px;
    margin-left: 40px;
    margin-top: 100px;
}

.kv-img1 {
    width: 650px;
    height: 450px;
    object-fit: cover;
}

.kvimg2 {
    text-align: right;
}

.kv-img2 {
    margin-top: -200%;
    width: 500px;
    height: 600px;
    object-fit: cover;
}

/* メインコンテンツ */
.mainwrap {
    position: relative;
    min-height: 1300px;
}
span {
    font-size: 25px;
}
.content-img1 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 150px;
    right: 300px;
}

.toptext1 {
    width: 700px;
    height: 600px;
    position: absolute;
    top: 200px;
    left: 200px;
}

.toptext1 h1 {
    color: white;
    position: absolute;
    font-size: 35px;
    top: 30px;
    left: 100px;
}

.toptext1 p {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 200px;
    left: 100px;
}

.toptext2 {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 50px;
}

.content-img2 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 650px;
    left: 150px;
}

.toptext2 h1 {
    color: white;
    position: absolute;
    font-size: 35px;
    bottom: 300px;
    right: 450px;
}

.toptext2 p {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    right: 200px;
}

/* hover */
.hover-wrapp{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 10px;
row-gap: 20px;
margin: 5% 10%;
}
.hover{
    width: 300px;
padding-bottom:30px ;
border: #fff solid 1px;
border-radius: 5%;
}
.hover-img{
width: 300px;
height: 300px;
border-radius: 5% 5% 0 0;
}
.hover li{
    list-style: none;
color: white;
text-align: center;
}
.view-link{
     width: 200px;
    height: 30px;
background-color: #000;
color: #fff;
font-size: 20px;
margin-top: 80%;
margin-left: 20%; 
}
.view-link p{
border-bottom: solid 1px white;
position: relative;
font-size:20px ;
}

/* フッター */
.footer-wrrapper {
    width: 100%;
    /* min-height: 500px; */
    text-align: center;
    border-top: 1px solid white;
    margin-top: 20%;
    display: flex;
    display: grid;
    margin: 10% 0;
    padding: 0 5%;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    list-style: none;
    display: block;
    line-height: 30px;
    color: white;
    font-size: 20px;
    text-align: left;
}
.copyright{
text-align: center;
}
.copyright p{
    color: #fff;
    font-size: 15px;
}
.footer.social-list li {
    line-height: 40px;
}

.footer .fa {
    font-size: 25px;
    color: white;
}